:root {
    --item_pad_left: 40px;
}

* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

.play-icon:before
{
   -webkit-mask-image: url(../images/ico_play.png); 
}

.finish-icon:before
{
   -webkit-mask-image: url(../images/ico_sneakers.png); 
}

.discard-icon:before
{
   -webkit-mask-image: url(../images/ico_discard.png); 
}

.history-icon:before
{
   -webkit-mask-image: url(../images/ico_trophy.png); 
}

.stats-icon:before
{
   -webkit-mask-image: url(../images/ico_court.png); 
}

.tutorial-icon:before
{
   -webkit-mask-image: url(../images/ico_help.png); 
}

span {
	padding-left: var(--item_pad_left);
}


#item1, #item2, #item3, #item4, #item5, #item6 {
	margin-left: 40px;
	text-align: center;
}


.ui-listview li .li-text-sub {
   display: block;
   text-overflow: ellipsis;
   overflow: hidden;
   line-height: 32px;
   color: rgb(51, 51, 51);
}

.ui-listview li.li-has-3line {
   padding-top: 0;
   padding-bottom: 0;
   height: 115px;
}

.ui-listview.expand-list li.li-has-3line .ui-marquee {
   -webkit-transform: translate3d(0, 30px, 0);
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-marquee {
   -webkit-transform: translate3d(0, 0, 0);
   -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:nth-child(2) {
   -webkit-transform: translate3d(0, -10px, 0);
   opacity: 0;
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:nth-child(2) {
   -webkit-transform: translate3d(0, 0, 0);
   opacity: 1;
   -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:last-child {
   -webkit-transform: translate3d(0, -42px, 0);
   opacity: 0;
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:last-child {
   -webkit-transform: translate3d(0, 0, 0);
   opacity: 1;
   -webkit-transition: all ease 1s;
}
