:root {
    --item_pad_left_small: 10px;
    --item_pad_left_mid: 20px;
    --item_pad_left_big: 30px;
}

* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

span {
	display: block;
}

li {
	text-align: left;
}

.title {
	text-color: yellow;
	font-style: normal;
	font-size: 0.5em;
}

.subtitle {
	color: yellow;
	font-style: italic;
	font-size: 0.25em;
}

.content {
	color: red;
	font-style: bold;
	font-size: 1.0em;

	line-height: initial;
	margin: 0;
}

li {
	padding: 30px;
}

ul {
	position: absolute;
	left: 20%;
	top: 10%;
}
