:root {
    --item_pad_left: 20px;
}

* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}


.play-icon:before
{
   -webkit-mask-image: url(../images/ico_ball.png); 
}

p {
	padding-left: var(--item_pad_left);
}

span {
	padding-left: var(--item_pad_left);
}