:root {
    --item_pad_left_small: 10px;
    --item_pad_left_mid: 20px;
    --item_pad_left_big: 30px;
}

* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

span {
	display: block;
}

li {
	text-align: left;
}

.title {
	color: yellow;
	font-style: normal;
	font-size: 0.75em;
	padding-left: var(--item_pad_left_small);
}

.subtitle {
	color: yellow;
	font-style: normal;
	font-size: 0.75em;
	padding-left: var(--item_pad_left_mid);
}

.content {
	color: red;
	font-style: bold;
	font-size: 0.75em;
	padding-left: var(--item_pad_left_big);

	line-height: initial;
	margin: 0;
}
