* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

.no-click {
	pointer-events: none;
}

.title {
	color: yellow;
	font-style: normal;
	font-size: 0.75em;
	padding: 0;
}

.subtitle {
	color: white;
	font-style: bold;
	font-size: 0.75em;
	padding-left: 5%;
	line-height: initial;
	margin: 0;
}

#empty {
	height: 100%;
	vertical-align: middle;
	font-style: italic;
	text-align: center;
	display: table-cell;
	color: white;
}