:root {
}

* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

.floating {
	margin-top: 15%;
	margin-right: 15%;
	position: absolute;
	top: 0px;
	right: 0px;
	color: yellow;
}

#containerTutorial {
	position: absolute;
	padding: 15px;
	margin: 0 auto;
	top: 5%;
	left: 5%;
}

#imgTutorial {
	padding-top: 5%;
	height: 15%;
	display: block;
	margin: 0 auto;
}

#msgTutorial {
	padding-top: 1%;
	text-align: center;
	font-style: italic;
	font-size: 0.85em;
}


